*{
    box-sizing: border-box;
}
.wrapper {
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    width: 1500px;
    height: 955px;


}
.wrapper:before {
    content: url("Path 4.png");
    display: block;
    width: 100%;
}
img {
    width: 974px;
    height: 337px;
    margin: auto;


}
.wrapper:after {
    content: url("Path 4.1.png");
    display: block;
    width: 100%;
}



